<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Redactar correo</title>
</head>
<body>

<h1>Redactar Correo</h1>

<form action="/email/enviar" method="post">

    <label>Destinatario (correo o usuario):</label><br>
    <input type="text" name="destinatario" required><br><br>

    <label>Asunto:</label><br>
    <input type="text" name="asunto" required><br><br>

    <label>Mensaje:</label><br>
    <textarea name="mensaje" rows="10" cols="60" required></textarea><br><br>

    <button type="submit">Enviar</button>
    <a href="/email/bandeja">Cancelar</a>
</form>

</body>
</html>
